{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .btn-update,
  .btn-place-order {
    margin-bottom: 10px;
  }

  .btn-search {
    margin-bottom: 10px;
  }

  .card-body {
    text-align: center;
  }

  .contact-info p {
    margin-bottom: 5px;
  }

  /* Center form elements */
  .card-body form > div {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }

  .table th {
    text-align: center;
    background-color: #f8f9fa; /* table header background color */
    color: #333; /* table header text color */
  }

  .table td {
    background-color: #fff; /* table row background color */
  }

  .table tr:nth-child(even) {
    background-color: #f8f9fa; /* even row background color */
  }
</style>

<br />
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-body">
        <h5>Customer:</h5>
        <hr />
        <a class="btn btn-outline-info btn-sm btn-block btn-update" href=""
          >Update Customer</a
        >
        <a
          class="btn btn-outline-info btn-sm btn-block btn-place-order"
          href="{% url 'create_order' customer.id %}"
          >Place Order</a
        >
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-body contact-info">
        <h5>Contact Information</h5>
        <hr />
        <p>Email: {{ customer.email }}</p>
        <p>Phone: {{ customer.phone }}</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-body">
        <h5>Total Orders</h5>
        <hr />
        <h1>{{ order_count }}</h1>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card card-body">
        <form method="get">
          {{ myFilter.form }}
          <button class="btn btn-primary btn-search" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Note</th>
            <th>Date Ordered</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>

          {% for order in orders %}
          <tr>
            <td>{{ order.product }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.note }}</td>
            <td>{{ order.date_created }}</td>
            <td>{{ order.status }}</td>
            <td>
              <a
                class="btn btn-sm btn-info"
                href="{% url 'update_order' order.id %}"
                >Update</a
              >
            </td>
            <td>
              <a
                class="btn btn-sm btn-danger"
                href="{% url 'delete_order' order.id %}"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
